<img src="wamya.png" alt="" />
<h2>Greetaa Node js components using express.js</h2>
<nav class="navbar navbar-default" role="navigation">
  <h3>Supporters :</h3>
  <ul class="nav navbar-nav">
    <li>
      <a href="">Supporters </a>
    </li>
  </ul>
  <h3>Teams :</h3>
  <ul class="nav navbar-nav">
    <li>
      <a href="">Teams</a>
    </li>
    <li>
      <a href="">Store</a>
    </li>
    <li>
      <a href="">Blog</a>
    </li>
  </ul>
  <h3>Collect Center:</h3>
  <ul class="nav navbar-nav">
    <li>
      <a href="">Trash</a>
    </li>
    <li>
      <a href="">Center</a>
    </li>
    <li>
      <a href="">Collector</a>
    </li>
  </ul>
</nav>